.main-header{
    max-height: 210px;
    background-color: rgb(61, 150, 239);
}
.container-head{
    overflow:hidden;
}
.d_flex{
    display: flex;
}
.left{
    float: left;
}
.d_flex img{
    width: 50px;
    height: 50px;
    background-color: rgb(119, 211, 211);
}
.header{
    padding: 12px 2px;
    color: #fff;
}
.right{
    float:right;
    padding-left: 5px;
}
.logoHead{
    font-weight: 700;
    font-size: 22px;
    padding: 0px 5px;
}
.d_flex .icons{
    padding: 10px 8px;
    font-size: 18px;
}
.d_flex .book{
    color: black;
    font-size: 22px;
}
.headerTitle{
    font-weight: 500;
    font-size: 18px;
}
.profile-name{
    padding: 10px 5px;
    font-weight: 600;
}
.profile-img{
    border-radius: 25px;
    border: 5px rgb(119, 211, 211);
}
.selects{
    padding-top: 10px;
    margin-left: -20px;
}
/* Select Style */
.custom-selects {
    background-color: rgb(237, 200, 15);
    max-width: 250px;
    height: 30px;
    padding: 2px 2px;
}
.box-text1{
    padding: 0px 5px;
    color: #fff;
    font-weight: 600;
}
select{
    background-color: #fff;
    color: rgb(186, 190, 190);
}
option{
    background-color: #fff;
}