.containers{
    max-width: 90%;
    margin: auto;
    padding: 0;
}
.containerNav{
    max-width: 20%;
    /* margin: auto; */
    padding: 0;
    background-color: #fff;
}
.logoImg{
    width: 50px;
    height: 50px;
    background-color: rgb(101, 197, 210);
    margin-top: 5px;
}
.logoHead{
    font-family: sans-serif;
    padding: 10px 0;
    margin-top: 20px;
    font-weight: 600;
}
.left{
    margin-top: -10px;
}
.head{
    background-color:rgb(78, 89, 246) ;
    padding: 10px 0;
    color: #fff;
    font-family: sans-serif;
}
.d_flexs{
    display: flex;
    justify-content: space-between;
}
.head i{
    margin-right: 12px;
}
.head label{
    margin-right: 30px;
    margin-left: 20px;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.proImg{
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -12px;
}
.rights{
    margin-top: 20px;
}
.boxes{
    float: right;
}
.yellow-box{
    background-color: rgb(255, 190, 70);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.box-t1{
    float: left;
    margin-left: 2px;
}
.white-box{
    background-color: #fff;
    border-radius: 5px;
    width: 120px;
    height: 18px;
    float: right;
}
.white{
    margin-top: 5px;
    margin-right: 2px;
}
.box-t2{
    float: right;
    font-size: 15px;
    color: rgb(148, 148, 148);
    font-weight: 100;
}
.textCenter{
    text-align: center;
    padding: 16px 0;
}
.nav .category {
    padding: 10px;
    height: 90vh;
  }
.category {
    padding: 15px;
    height: 90vh;
    color: rgb(96, 95, 95);
}
.chead h1 {
    font-size: 20px;
    margin-bottom: 20px;
}
.chead h1:nth-child(2) {
    opacity: 0.5;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    padding-left: 30px;
}
.navHead{
    max-width: 240px;
}
.category span {
    margin: 6px 10px;
    text-transform: capitalize;
}
.category .box {
    transition: 0.5s;
    padding: 0 20px;
}
.category .box:hover {
    background-color: #e1f3ff;
    cursor: pointer;
}
.f_flex {
    display: flex;
}